* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Norse', sans-serif;
    line-height: 1.6;
    font-size: 24px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.title {
    font-family: 'Norse', sans-serif;
    margin: 0;
    font-size: 45px;
}

.title.main-title {
    font-size: 75px;
}

.logo {
    width: auto;
    height: 100px;
}

img {
    width: auto;
    height: 450px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.container-page {
    flex: 1;
    padding: 20px;
    margin: 20px;
}

.description,
.subtitle,
ul,
ol {
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 27px;
}

p,
li,
h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.list {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    list-style: none;
}

.list li {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.list a {
    text-decoration: none;
    color: #333;
    display: block;
}

.list img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.list a:hover {
    text-decoration: underline;
}

.subtitle {
    color: #333;
    font-size: 30px;
}

ul, ol {
    margin-top: 0;
}

.return-page {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 24px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.return-page:hover {
    background-color: #696969;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    .title,
    .title.main-title {
        font-size: 36px;
    }

    .logo {
        height: 80px;
    }

    body {
        font-size: 18px;
    }

    .container-page {
        padding: 15px;
        margin: 15px;
    }

    .description,
    .subtitle,
    ul,
    ol {
        font-size: 20px;
    }

    p,
    li,
    h2 {
        font-size: 18px;
    }

    .list {
        font-size: 28px;
    }

    .return-page {
        font-size: 18px;
    }

    .subtitle {
        font-size: 24px;
    }

    .footer {
        margin: 20px 0;
    }

    .footer-references,
    .footer-socials a {
        font-size: 16px;
    }
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.footer-references {
    margin-bottom: 5px;
}

.footer-socials {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials a {
    margin-right: 10px;
}

.footer a {
    color: black;
    font-size: 40px;
}

.footer a:hover {
    text-decoration: none;
}