header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.title {
    font-family: 'Norse', sans-serif;
    margin: 0;
    font-size: 45px; /* Increased by 50% */
}

.title.main-title {
    font-size: 75px; /* Increased by 50% */
}

.logo {
    width: auto;
    height: 100px;
}

img {
    width: auto;
    height: 450px;
    max-width: 100%;
    display: block; /* Add this line */
    margin: 0 auto; /* Add this line */
}

img.center-image {
    margin: 0; /* Remove margin for the specific image */
    width: auto;
    height: 300px; 
    margin: 0; 
    object-fit: cover; 
}

body {
    font-family: 'Norse', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 24px; /* Increased by 50% */
}

.container-page {
    padding: 20px;
    margin: 20px;
}

.description,
.subtitle,
ul,
ol {
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 27px; /* Increased by 50% */
}

p,
li,
h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 24px; /* Increased by 50% */
}

.list {
    display: flex;
    justify-content: space-between;
    font-size: 36px; /* Increased by 50% */
    list-style: none; /* Remove bullet points from the list */
}

.list li {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage and spacing as needed */
    margin: 0 10px; /* Equal margin on left and right */
    box-sizing: border-box;
    position: relative;
}

.list a {
    text-decoration: none;
    color: #333;
    display: block;
}

.list img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.list a:hover {
    text-decoration: underline;
}

.subtitle {
    color: #333;
    font-size: 30px; /* Increased by 50% */
}

ul, ol {
    margin-top: 0;
}

.return-page {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 24px;
    background-color: #808080; /* Grey color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.return-page:hover {
    background-color: #696969; /* Darker grey on hover */
}

footer {
    margin: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-references {
    margin-bottom: 5px; /* Reduced margin below the references */
}

.footer-socials {
    margin-top: 5px; /* Reduced top margin */
    margin-bottom: 5px; /* Reduced bottom margin */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials a {
    margin-right: 10px; /* Slightly reduced right margin */
}

@media only screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    .title,
    .title.main-title {
        font-size: 36px; /* Adjust the font size for smaller screens */
    }

    .logo {
        height: 80px; /* Adjust the height of the logo for smaller screens */
    }

    body {
        font-size: 18px; /* Adjust the body font size for smaller screens */
    }

    .container-page {
        padding: 15px;
        margin: 15px;
    }

    .description,
    .subtitle,
    ul,
    ol {
        font-size: 20px; /* Adjust the font size for smaller screens */
    }

    p,
    li,
    h2 {
        font-size: 18px; /* Adjust the font size for smaller screens */
    }

    .list {
        font-size: 28px; /* Adjust the font size for smaller screens */
    }

    .return-page {
        font-size: 18px; /* Adjust the font size for smaller screens */
    }

    .subtitle {
        font-size: 24px; /* Adjust the font size for smaller screens */
    }

    .footer {
        margin: 20px 0;
    }

    .footer-references,
    .footer-socials a {
        font-size: 16px; /* Adjust the font size for smaller screens */
    }
}